body
{
    font-family: 'arial',sans-serif;
    color: #452e28;
    background-color: #d3e4e8;
    font-size: 14px;
    
}
.main_holder
{
    max-width: 900px;
    min-width: 660px;
    margin: auto;
}
.main
{
    background-color: #e6ffe6;
    width: 100%;
    clear: both;
  
}
.title
{
    background-color: #e6b6a3;
    padding: 5% 10% 5% 10%;
    
}
.oss
{
    text-align:center;
    font-size:40px;

}
.about
{
    float:right;
    text-align:right;
    padding: 1%;
    border-radius: 15px;
}
.subheader
{

}
.box_holder
{
    
    background-color: #b37969;
    clear: both;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box
{
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width:30%;
    aspect-ratio : 1 / 1;
    /*border: 2px dashed red;*/
    display:inline-block;
    border-radius: 15px;
    
}
.sel {

}
.box_left
{
    margin-left: 0%;
}
.sel:hover {
    background-color: #b84444;
}    
.about:hover {
    background-color: #b84444;
}

img
{
    margin-top: 5%;
    border-radius: 15px;
    display:inline-block;
    width: 90%;
    object-fit: cover;
    object-position: -20% 0;
}

a {
    text-decoration: none;
    color: #452e28;
}
