body
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #452e28;
    background-color: #452e28;
    font-size: 16px;
    
}
.main
{
    max-width: 900px;
    min-width: 660px;
    margin: auto;
    background-color: #452e28;
    clear: both;
  
}
a {
    text-decoration: none;
    color: #b84444;
}
.title
{
    padding: 5% 0% 5% 0%;
    font-family: "Lobster", sans-serif;
}
.preheading {
    text-indent: 15%;
    font-style: italic; 
    font-size:30px;
    color: #b84444;
}
.oss
{
    background-color: #e6b6a3;
    padding: 3% 5% 3% 5%;
    border-radius: 15px;
    text-align:center;
    font-size:70px;
    color: #452e28;:w
}
h2
{
  margin: 0px;
  padding: 0px 0px 5px 0px;
  text-align:center;
  font-family: "Lobster", sans-serif;
}
h3
{
  margin: 0px;
  padding: 3px 0px 5px 0px;
  text-align:center;
  font-family: "Lobster", sans-serif;
  font-size: 20px;
color: #452e28;
}

.box_holder
{
    border-radius: 15px;    
    background-color: #b37969;
    clear: both;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box
{
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    width:30%;
    aspect-ratio : 1 / 1;
    /*border: 2px dashed red;*/
    display:inline-block;
    border-radius: 15px;
    
}
.middle {
    width: 70%;
    padding: 4%;
    aspect-ratio: auto;
    border: 2px dashed;
    border-color: #452e28;
    margin-top: 3%;
    margin-bottom: 2%;
}
.middle_text {
    text-align:left;
}
.sel {

}
.box_left
{
    margin-left: 0%;
}
.sel:hover {
    background-color: #b84444;
}    


img
{
    margin-top: 5%;
    border-radius: 15px;
    display:inline-block;
    width: 90%;
    object-fit: cover;
    object-position: -20% 0;
}
.title:hover {
    color: #b84444;
}

